body{
    background-image:url(https://img.freepik.com/premium-vector/futuristic-technological-wallpaper_79603-1091.jpg?w=2000);
    
}

#cabecera{
    margin: 80px 350px; 
    border: 5px solid black;
    border-radius: 20px; 
    padding: 15px; 
    background-color: #c00472;
    filter:alpha(opacity=85);
    -moz-opacity:.85;
    opacity:.85;   
}

h1{
    text-align: center;
    color: white;
    font-size:1.8em ;
    border-color: blanchedalmond;
}

#tematicas{
    margin: 20px 500px; 
    border: 4px solid black;
    border-radius: 15px; 
    padding: 15px; 
    background-color: #004ca3;
    filter:alpha(opacity=85);
    -moz-opacity:.85;
    opacity:.85;    
}

h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
    text-align: center;
    font-size: xx-large;
    text-shadow: 2px 2px 2px #000;
}

a{
    color: antiquewhite;
    font-size:xx-large;
    text-align: left;
}